body {
    background-color: #ffffff;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.app-container {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers all child elements */
    padding: 15px;
}

#project-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.project-card {
    width: 95%;
    background: #eeeeee;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;
}

.project-icon img {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    object-fit: cover;
}

.avatar-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    object-fit: cover;
}

.author {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
}
